%p
%br/
.well
  %h3 Services
  %ul
    %li= link_to "Skin Care", "/content/natural_skin/services/skin-care.html"
    %li= link_to "MicroCurrent Therapy", "/content/natural_skin/services/micro-current.html"
    %li= link_to "Hand Treatments", "/content/natural_skin/services/hand-treatments.html"
    %li= link_to "Anti-aging treatments", "/content/natural_skin/services/anti-aging.html"
    %li= link_to "European Facials", "/content/natural_skin/services/european-facials.html"
    %li= link_to "Permanent makeup", "/content/natural_skin/services/permanent-makeup.html"
    %li= link_to "Waxing", "/content/natural_skin/services/waxing.html"
    / %li= link_to "Permanent makeup", "/content/natural_skin/services/permanent-makup.html"
  %h3 More
  %ul
    %li= link_to 'Referrals', '/content/natural_skin/referrals.html'
    %li= link_to 'Testimonials', '/content/natural_skin/testimonials.html'
      

    

