%p
%br/
.well
  %h3 Services
  %ul
    %li= link_to "Skin Care", "/content/naturalskin/services/skin-care.html"
    %li= link_to "LamProbe", "/content/naturalskin/services/lamprobe.html"
    %li= link_to "MicroCurrent Therapy", "/content/naturalskin/services/micro-current.html"
    %li= link_to "Hand Treatments", "/content/naturalskin/services/hand-treatments.html"
    %li= link_to "Anti-aging treatments", "/content/naturalskin/services/anti-aging.html"
    %li= link_to "European Facials", "/content/naturalskin/services/european-facials.html"
    %li= link_to "Infrared Light Therapy", "/content/naturalskin/services/infrared-light-therapy.html"
    %li= link_to "Light Therapy Facials", "/content/naturalskin/services/light-therapy-facials.html"
    %li= link_to "Waxing", "/content/naturalskin/services/waxing.html"
    %li= link_to "Reflexology", "/content/naturalskin/services/reflexology.html"

      

    

