%p
%br/
.well
  
  %h3 Mission Statement
  %blockquote 
    To help our patients achieve wellness and good health in non-invasive and natural way!  
    %footer Dr. Aaron Goldberg, D.D.S
  %ul
    %li= link_to "Weight Loss", "/content/naturalway/weight-loss.html"
    %li= link_to "Medical Conditions", "/content/naturalway/medical-conditions.html"
    %li= link_to "FAQs", "/content/naturalway/faqs.html"

  %h4 Testimonials
  %ul
    %li= link_to 'Medical Conditions', '/content/naturalway/testimonials/medical-conditions.html'
    %li= link_to 'Weight Loss', '/content/naturalway/testimonials/weight-loss.html'

      

    

