!!!
%html
  %head
    %title= page_title
    = site_partial('meta')
    = site_partial('head')
  %body{:class => page_classes}
    = site_partial "nav"
    = yield
    = site_partial "footer"
    = javascript_include_tag  "all"
