!!!
%html(lang="en-US" itemscope  itemtype="http://schema.org/Article" prefix="og: http://ogp.me/ns#")
  %head
    %title= page_title
    = site_partial('meta')
    = site_partial('head')
  %body{:class => page_classes}
    = site_partial "nav"
    = yield_content :carousel
    - if @no_container
      = yield
    - else
      .container(style='margin-top:30px')
        - if side_menu = has_side_menu and current_page.data.skip_side_menu != true 
          .row
            .col-lg-8= yield
            .col-lg-4= side_menu
        - else
          = yield
    = site_partial "footer"
    %link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
    %script(src="//code.jquery.com/jquery-3.3.1.min.js")
    %script(src="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js")
    = stylesheet_link_tag "sites/#{$SITE}.css"  
    = stylesheet_link_tag "all"
    = javascript_include_tag  "all/click_to_call", "all/init-bootstrap"
    = yield_content 'add_to_end'


