!!!
%html(lang="en-US" itemscope  itemtype="http://schema.org/Article" prefix="og: http://ogp.me/ns#")
  %head
    %title= page_title
    = site_partial('meta')
    = site_partial('head')
  %body{:class => page_classes}
    = site_partial "nav"
    = yield_content :carousel
    .container(style='margin-top:30px')
      - if side_menu = has_side_menu and current_page.data.skip_side_menu != true 
        .row
          .col-lg-8= yield
          .col-lg-4= side_menu
      - else
        = yield
    = site_partial "footer"
    -# - if site.theme
    -#   %link{href: "//stackpath.bootstrapcdn.com/bootswatch/4.2.1/#{site.theme}/bootstrap.min.css", rel: "stylesheet"}
    -# - else
    %link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")  
    %script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    %script(src="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js")
    = stylesheet_link_tag "sites/#{$SITE}.css"  
    = stylesheet_link_tag "all"
    = javascript_include_tag  "all"  
    = yield_content 'add_to_end'


