%p
%br/
.panel.panel-default
  .panel-heading More...
  .panel-body
    %ul
      %li
        %b= link_to "Customer types", "/content/cases/customer-types.html"
        %small.text-muted
          The Cases Group, LLC is committed to service customers in a diverse variety of markets 
      %li
        %b= link_to "Awards", "/content/cases/awards.html"
        %small.text-muted
          Awards presented to Mr. Moises Cases, CEO of The Cases Group, LLC
      %li
        %b= link_to "News", "/content/cases/news.html"
        %small.text-muted The latest
      %li
        %b= link_to "Testimonials", "/content/cases/testimonials.html"
        %small.text-muted 
          What people think of
          = click_to_call