%h1 
  Medical Conditions
  %small Testimonials

- data.sites.naturalway.testimonials.medical_conditions.each do |tst|
  %blockquote
    %b= tst.what
    - if img = tst.img
      = image_tag "testimonials/medical-conditions/#{img}", class: 'img-fluid rounded pull-right', style: 'margin-left:12px'
    = tst.says

    %footer= tst.who
