---
title:  Tree Service in San Antonio | Professional Tree Care Service
description: Best Tree Service, best reviews, Certified Arborist on every job.  Tree Trimming, tree removal, free estimates everyday.  Depend on the best, call Heartwood. 
keywords: tree service, tree trimming, tree removal, tree pruning, stump removal
---


.row
  .col-md-8
    %h1.page-header 
      General Tree Service 
      %small Arborist always on job site
    Heartwood Tree Services offers a variety of general tree maintenance in south Texas; from tree trimming, diagnoses to tree removals we are insured and professionally staffed with a skilled crew to keep your trees healthy and vigorous throughout the years. We will provide you with an honest assessment along with simple tips that will help you throughout the years. Arborist professional oversees every project and specializes in preserving your investment. Despite any complexity or our ever-changing Texas weather; we will work with your schedule to complete your job to your satisfaction.  Get your free estimate today.  
      
    %h3 Tree Care Services:
    %ul
      %li= link_to "Oak wilt", '/content/heartwood/oak-wilt.html'
      %li= link_to "Stump Removal", '/content/heartwood/stump-removal.html' 
      %li= link_to "Tree Planting", '/content/heartwood/tree-planting.html' 
      
    
    %h3 Diagnose & Treatments:
    %ul
      %li= link_to "Tree Fertilization", '/content/heartwood/tree-fertilization.html' 
      %li= link_to "Tree Preservation ", '/content/heartwood/tree-preservation.html' 
    
    /= image_tag('index/truck.jpg', class: 'img-responsive img-circle') 
  .col-md-4
    %p
      %br/
    = image_tag('index/before_and_after.jpg', class: 'img-responsive img-rounded')
    %p
    = image_tag('about/chipper.jpg', class: 'img-responsive img-circle')
    
    