---
title:  Professional Tree Service | Heartwood Tree Service & Solutions
description: Affordable tree service, best reviews, Certified Arborist on every job. Tree trimming, tree removal, oak wilt removal. Call your local tree service, call Heartwood.
keywords: tree service, tree trimming, tree removal, tree pruning, stump removal
---


.row
  .col-md-12
    %p 
      %b Heartwood
      offers a variety of quality tree services in the San Antonio metro area: tree trimming, tree removal, ball moss removal and 
      other tree maintenance services. We are insured and professionally staffed with a commercial and a residential crew equipped 
      and experienced to take on any tree job. 
      %b Heartwood 
      is very well known in the tree industry and we are committed to leaving your trees looking healthy and amazing.  
      An arborist professional oversees every project and specializes in preserving your investment. 
    %h1 
      Tree service San Antonio
    %p= link_to "Tree Trimming", '/content/heartwood/trimming'#, class: 'display-4'
    %p= link_to "Tree Removal", '/content/heartwood/removal'#, class: 'display-4'

    %h3 Tree Maintenance:
    %ul
      %li= link_to "Oak wilt", '/content/heartwood/oak-wilt.html'
      %li= link_to "Stump Removal", '/content/heartwood/stump-removal.html' 
      %li= link_to "Tree Planting", '/content/heartwood/tree-planting.html' 
      
    
    %h3 Diagnose & Treatments:
    %ul
      %li= link_to "Tree Fertilization", '/content/heartwood/tree-fertilization.html' 
      %li= link_to "Tree Preservation ", '/content/heartwood/tree-preservation.html' 
    
    %h3 Other Tree Care Services: 
    %ul
      %li Roof line clearance
      %li Raise tree canopy
      %li Dangerous Branch/Limb Removal
      %li Tree Weight Reduction 
      %li Ball moss removal 
      %li Tree Cabling
  -# .col-md-4
  -#   %p
  -#   = image_tag('index/before_and_after.jpg', class: 'img-fluid rounded')
  -#   %hr
  -#   %p
  -#   //%h4 Stump removal
  -#   = image_tag('about/chipper.jpg', class: 'img-fluid rounded')
    
    