.container
  .row
    .col-lg-7
      %h1.page-header San Antonio Tree Services
      Heartwood Tree Service offers a variety of tree services in south Texas; from tree diagnoses to tree extractions we are insured, ISA Certified, professionally staffed and experienced to keep your trees healthy and vigorous throughout the years. We will provide you with an honest tree assessment along with simple tips that will help you to maintain your trees healthy. We specialize in a variety of extensive tree work and land clearing for both commercial and residential properties. Despite any tree complexity or our ever-changing Texas weather; we will work with your schedule to complete your job to your satisfaction. Our tree services is rated the best among our customers in San Antonio Texas. 

      %h3 San Antonio Tree Work Services:
      %ul
        %li= link_to "Tree Trimming", '/content/heartwood/tree-trimming'
        %li= link_to "Tree Removal", '/content/heartwood/tree-removal' 
        %li= link_to "Stump Removal", '/content/heartwood/stump-removal' 
        %li= link_to "Tree Planting", '/content/heartwood/tree-planting' 
      %h3 Tree Diagnose & Treatments:
      %ul
        %li= link_to "Tree Fertilization", '/content/heartwood/tree-fertilization' 
        %li= link_to "Tree Preservation ", '/content/heartwood/tree-preservation' 

    .col-lg-5
      = image_tag('about/chipper.jpg', class: 'img-responsive img-circle')