---
title: Tree Trimming, Tree Removal Services | San Antonio, Tx
description: Heartwood handles a variety of environmentally safe tree trimming, stump grinding and tree removal services for all type of properties executing the best arbor care for all customers. 
---


.row
  .col-lg-7
    %h1.page-header 
      Heartwood Tree Services
      %small of San Antonio Texas
    Heartwood Tree Services offers a variety of general tree maintenance in south Texas; from diagnoses to tree removals we are insured and professionally staffed with a skilled crew to keep your trees healthy and vigorous throughout the years. We will provide you with an honest assessment along with simple tips that will help you throughout the years.  We specialize in a variety of extensive tree work and land clearing for both commercial and residential properties. Despite any complexity or our ever-changing Texas weather; we will work with your schedule to complete your request to your satisfaction. 

    %h3 Tree Care Services:
    %ul
      %li= link_to "Tree Trimming", '/content/heartwood/tree-trimming.html'
      %li= link_to "Tree Removal", '/content/heartwood/tree-removal.html' 
      %li= link_to "Stump Removal", '/content/heartwood/stump-removal.html' 
      %li= link_to "Tree Planting", '/content/heartwood/tree-planting.html' 
      %li= link_to "Land Clearing", '/content/heartwood/land-clearing.html'
    %h3 Diagnose & Treatments:
    %ul
      %li= link_to "Tree Fertilization", '/content/heartwood/tree-fertilization.html' 
      %li= link_to "Tree Preservation ", '/content/heartwood/tree-preservation.html' 

  .col-lg-5
    = image_tag('about/chipper.jpg', class: 'img-responsive img-circle')