= site_partial('custom_footer')

.container
  %hr
  .row
    .col-md-8
      %a(name="contact")
      %h4 Address
      - if site.geo_address
        %a(href="#{site.geo_address}" target="_map")
          = site_partial 'address'
      - else
        = site_partial 'address'
      - if site.phone
        %h4
          Phone: 
          %a(href="tel:#{site.phone}")= site.phone
          /= data.sites.fusion.phone
      %h4
        Email: 
        %a(href="mailto:#{site.email}?subject=contact from website")= site.email  

       
    
    .col-md-4 
      = site_partial 'social'

.container#footer
  %p 
    = Date.today.year
    &copy;
    = "#{site.title}, "
    = site.owner.name



   

