/ http://lipis.github.io/bootstrap-social/
%section.footer
.container
  %hr
  .row
    .col-md-8
      %a(name="contact")
      %h4 Address
      %a(href="#{site.geo_address || '#'}" target="_map")
        = site_partial 'address'

      %p 
        Phone: 
        %a(href="tel:#{site.phone}")= site.phone
        /= data.sites.fusion.phone
      %p 
        Email: 
        %a(href="mailto:#{site.email}?subject=contact from website")= site.email  
    .col-md-4 
      %a(name='social')
      %h4 Social Media Links
      - if fb = site.social.facebook
        %a(href="https://www.facebook.com/#{fb}" class="btn btn-social-icon btn-facebook")
          %i(class="fa fa-facebook")
      - if gplus = site.social.google_plus
        %a(href="https://plus.google.com/+#{gplus}" class="btn btn-social-icon btn-facebook")
          %i(class="fa fa-facebook")          
      - if tw = site.social.twitter
        %a(href="https://twitter.com" class="btn btn-social-icon btn-twitter")
          %i(class="fa fa-twitter")      
