.navbar-wrapper
  .container
    .navbar-fixed-top{class: site["nav_theme"] ? 'navbar-default' : 'navbar-inverse'}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "/index.html", class: "navbar-brand" do
            /= site.title
            - if site.logo != false
              = image_tag "logo.png", class: "img-responsive", id: "logo"
            - else
              = site.title
              - if site.subtitle
                %span#site-subtitle= site.subtitle
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            - site[:nav].each do |nav|
              %li{class: nav_active?(nav) ? 'active' : nil}
                - if nav.is_a?(String)
                  = link_to nav, "/#{nav.downcase}.html"  
                - else
                  - if nav.cnt
                    = link_to nav.title, "/content/#{$SITE}/#{parameterize nav.title}.html"   
                  - else  
                    = link_to nav.title, nav.url      
