%nav.navbar.navbar-expand-lg(class="navbar-#{site[:theme_navbar] || 'dark'} bg-#{site[:theme_navbar_bg] || 'primary'} ")
  %a.navbar-brand(href="/")
    = site.title
    - if site.subtitle
      %span.navbar-text= site.subtitle
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      - site[:nav].each do |nav|
        %li.nav-item{class: nav_active?(nav) ? 'active' : nil}
          - # A regular shared page type
          - if nav.is_a?(String)
            = link_to "/#{nav.downcase}.html", class: 'nav-link' do
              /= icon_for(nav)
              = nav
          - else
            - if nav.cnt
              = link_to "/content/#{$SITE}/#{parameterize nav.title}.html", class: 'nav-link' do
                = nav.title
            - else  
              = link_to nav.title, nav.url, class: 'nav-link'          
