- if site.social
  %h4 Social Media Links
  - if fb = site.social.facebook
    %a(href="https://www.facebook.com/#{fb}" class="btn btn-social-icon btn-facebook"  title="Facebook" target="_blank")
      %i(class="fa fa-facebook")

  - if gplus = site.social.google_plus
    %a(href="https://plus.google.com/+#{gplus}" class="btn btn-social-icon btn-google-plus"  title="Google Plus" target="_blank")
      %i(class="fa fa-google-plus")   

  - if tw = site.social.twitter
    %a(href="https://twitter.com" class="btn btn-social-icon btn-twitter"  title="Twitter" target="_blank")
      %i(class="fa fa-twitter")   
  - if insta = site.social.insta
    %a(href="https://instagram.com/#{insta}" class="btn btn-social-icon btn-instagram"  title="Instagram" target="_blank")
      %i(class="fa fa-instagram")         
  - if pin = site.social.pinterest
    %a(href="https://pinterest.com/#{pin}" class="btn btn-social-icon btn-pintrest"  title="Pinterest" target="_blank")
      %i(class="fa fa-pinterest")  
  - if yelp = site.social.yelp
    %a(href="http://yelp.com/biz/#{yelp}" class="btn btn-social-icon btn-yelp"  title="Yelp" target="_blank")
      %i(class="fa fa-yelp")      
  - if angie = site.social.angies_list
    %p
      %br
      %a(href="http://www.angieslist.com/AngiesList/Review/#{angie}"  title="Angie's List" target="_blank")
        %img(src="http://assets.integrated-internet.com/sites/site/assets/img/social/angie.jpeg" alt="Angie's List")   


  - if li = site.social.linked_in
    %a(href=li class="btn btn-social-icon btn-linkedin"  title="Linked In" target="_blank") 
      %i(class="fa fa-linkedin")