= link_to("/assets/img/#{path}/#{feature.img}.png", title: feature.title) do
  = image_tag("#{path}/thumb/#{feature.img}.png", class: 'thumbnail rounded', title: feature.title, 'data-toggle' => :tooltip )