---
title: Licensed Massage Therapist | San Antonio, Tx | Silver Springs NM
description: Cynthia Moseley is a Nationally Certified Therapeutic Massage and Bodywork therapist. 
---

- if carousel.present?
  - content_for :carousel, site_partial('carousel') 


.row
  .col-lg-8.col-md-8
    %h1.page-header 
      Cynthia C. Moseley LMT
      %small Licensed Massage Therapist in San Antonio, Texas.
    %b 
      Professional Member of the American Massage Therapy Association 
      %p 
      Nationally Certified in Therapeutic Massage and Bodywork. 
    %h4 Cynthia Moseley is Texas licensed since 1988.
    %ul
      %li How can my site help you?
      %li 
        Check out 
        = link_to "my calendar", '/content/cyn/calendar.html'
        find an open slot
      %li
        = link_to "Contact", '/contact.html' 
        = click_to_call      
        and tell her the date you would like to make an appointment
      %li Pay with Paypal!
    = image_tag 'index/cynthia-friends.jpg', class: 'img-responsive img-rounded'

  .col-lg-4.col-md-4
    %p
    %br/
    = image_tag 'index/cynthia-moseley.jpg', class: 'img-responsive img-rounded'












