---
title:  Massage Therapy Techniques | Manaul Lympthic Drainage
description: Specializing in Polarity Therapy and Myofascial Release to relieve aches and pains.
---

.row
  .col-md-8
   
    %h1 
      Massage 
      %small.text-muted Styles Available

    %h3 Manual Lymphatic Drainage: (Chickly Style)
    The Lymphatic system is the sewer system for the tissues and organs of the body. Because of our sedentary lifestyle, our consumption of processed foods, and environmental pollutant, most Americans have a very sluggish lymph system. This can make us more prone to joint pain, muscle aches, lethargy, and even major diseases. Gentle, rhythmic compression of the tissues move the stagnant lymph out of the tissues and into the blood stream where it can be filtered and returned to cleanse more tissues.

    %h3 Myofascial Release (Barnes Style):
    Fascia restrictions can be responsible for many aches and pains. Release of the tissue is achieved by gentle stretching held for several minutes.People report the sensation of tingling, prickling, and warmth at the time of the tissue release.


    %h3 Polarity Therapy:
    Energy work developed by Dr. Randolph Stone. Points on the body are connected so as to balance the energy of the body. Polarity can be done clothed or unclothed, depending on the comfort of the client.


  .col-md-4
    %p
    %br
    .well
      %h3 Pre-paid services
      %ul
        %li= link_to "San Antonio", "/content/cyn/services/pre-paid-san-antonio.html"
        %li= link_to "Silver City", "/content/cyn/services/pre-paid-silver-city.html"
      %h3 Services
      %ul
        %li= link_to "Raindrop Technique", "/content/cyn/services/raindrop-technique.html"
        %li= link_to "Spa Treatments", "/content/cyn/services/spa-treatments.html"
      %h3.text-muted More
      %ul
        /%li= link_to "Locations", "/content/cyn/locations.html"
        /%li= link_to "Referrals", "/content/cyn/referrals.html" 
        %li= link_to "Cancellations", "/content/cyn/cancellations.html"      


