- if carousel.present?
  - content_for :carousel, site_partial('carousel') 


.container.marketing
  .row
    .col-md-4
      %center= image_tag 'index/street.jpg', class: 'img-circle'
      %h3 Tree Services
      Welcome to Alamo Tree Systems, your San Antonio tree service company. Kirk McCloud, owner, provides San Antonio, Boerne and Helotes with professional Tree Services and Land & Lot Clearing. Services include complete tree trimming, demossing, shaping, roof-line clearance, canopy raising, weight reduction, branch & tree separation and treatment of pruning cuts. Alamo Tree Systems will handle any residential or commercial tree maintenance jobs. 
      %p 
        Call 
        = click_to_call
        today! 
      %p Licensed: TL917624  
    .col-md-4
      %center= image_tag 'index/kirk.jpg', class: 'img-circle'
      %h3 Tree Removal & Stump Grinding      
      If your property faces tree crowding, tree death or the potential for damage to nearby structures; we provide complex tree removal services and stump grinding when required. We specialize in damaged tree removal and own heavy equipment which allows us to carefully lower each section of the tree rather than allowing the trunk to free fall. Your safety and personal property are our priority. We provide you with a free assessment and schedule your job as soon as possible.

      %p= link_to "Contact us", "/contact"
      for a free estimate.
    .col-md-4
      %center= image_tag 'index/chipper.jpg', class: 'img-circle'
      %h3 Lot/Land Clearing and Bobcat Work            
      Our site clearing crew will handle all your land/lot clearing projects at an affordable price. From chain saw to bobcat work, all brush clearing, tree removal, high-risk removals, debris removal and stump grinding; all will be done safely and to your satisfaction. Alamo Tree Systems has helped hundreds of customers clear their land to build new homes in San Antonio and metro areas. Whether it's an additional room, new office or new construction site; your lot will be ready to build on. Your land will retain it's good trees and soil nutrients for future planting of new trees.          

