---
title: Tree Trimming, Tree Removal | Land Clearing | San Antonio, Tx 
description: Contact Alamo Tree Systems, licensed San Antonio contractor providing comprehensive tree service, tree removal, bobcat work & land clearing. 
---
- if carousel.present?
  - content_for :carousel, site_partial('carousel') 


.container.marketing
  .row
    .col-md-4
      %center= image_tag 'index/street.jpg', class: 'img-fluid rounded-circle', alt: 'Roof clearing'
      %h3 Tree Services
      Welcome to Alamo Tree Systems! Owner Kirk McCloud, provides San Antonio, Boerne and Helotes Texas with professional Tree Services and Land & Lot Clearing. Our Services include tree trimming, demossing, shaping, roof-line clearance, canopy raising, weight reduction, branch & tree separation and treatment of pruning cuts. Alamo Tree Systems will handle small to complex projects for any residential or commercial tree maintenance jobs. 
      %p 
        Call 
        = click_to_call
        today! 
      %p Licensed: TL917624  
    .col-md-4
      %center= image_tag 'index/kirk.jpg', class: 'img-fluid rounded-circle', alt: 'Alamo Tree Systems Owner'
      %h3 Tree Removal & Stump Grinding      
      If your property faces tree crowding, tree death or the potential for damage to nearby structures; we provide complex tree removal services and stump grinding when required. We specialize in damaged tree removal using heavy equipment which allows us to carefully lower each section of the tree rather than allowing the trunk to free fall. Your safety and personal property are our priority. We provide you with a free assessment and schedule your job as soon as possible.

      %p= link_to "Contact us", "/contact" 
      for a free estimate.
    .col-md-4
      %center= image_tag 'index/chipper.jpg', class: 'img-fluid rounded-circle'
      %h3 Lot/Land Clearing and Bobcat Work            
      Our team of experts will handle all your lot or land clearing projects at an affordable price. From chain saw to bobcat work all brush clearing, high-risk removals, debris removal and stump grinding will be done safely and to your satisfaction. Whether it's an additional room, new office or new construction site; Alamo Tree Systems has helped hundreds of customers clear their land to make ready for development. Your land will retain all good trees and the nutrients in the soil for future planting of other new trees.          

