
%h1 
  Patio / Backyard projects
  %small The stuff we want done in the backyard broken up into projects
%ol
  - site(:projects).each do |project|
    %li
      - if project.img
        .pull-right= image_tag project.img
      %h3
        =project.name
        %small= project.info
      %ul
        - todos = project.todos || []
        - for todo in todos
          %li= todo


/"/content/et_patio/projects/#{parameterize(project.name)}.html", class: 'list-group-item'
/ .list-group
/   - site(:projects).each do |project|
/     = link_to project.name, "/content/et_patio/projects/#{parameterize(project.name)}.html", class: 'list-group-item'
