---
title: MBLZ Features | CRM, Estimates, Invoices | 210-585-4014
description: Quick actionable items for contacts, estimates, invoices, calls and comments in MBLZ's CRM.
keywords: contacts, estimates, invoices, calls, comments
---

= stylesheet_link_tag "gallery/blueimp.css", :media => "screen", :rel => "stylesheet", :type => "text/css"
= javascript_include_tag "gallery/blueimp.js"

#blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
  .slides
  %h3.title
  %a.prev &laquo;
  %a.next &raquo;
  %a.close x
  %a.play-pause
  %ol.indicator

%h1(style="border:0")
  Features 
  %small.text-muted of our service/software





#gallery
  .card
    .card-header
      .float-right.text-muted Take action
      .fa.fa-bullhorn.fa-lg
        &nbsp;
        The 'Now' Page
    .card-body
      .float-right
        = image_tag "screens/now.png", class: 'img-fluid'
      %h4
        What is happening now?
      %ul
        %li
          The 'Now' page is at the heart of our service and provides quick, actionable
          links to the most recent items and events.
        %li.no-style
          %ul
            %li Contacts
            %li Invoices
            %li Calls
            %li Comments
            %li Forms
            %li Activities
      .gallery
        - site(:features)[:now].each do |feature|
          = site_partial('thumb', locals: {path: 'features/now', feature: feature})
      .clearfix
      %p
        %small.text-muted (Click the images above to see the features in action)
      %p
        %b= site.title
        works the same whether you are on a mobile device or your desktop.
  %hr
  .card
    .card-header
      .float-right.text-muted Get paid
      .fa.fa-pencil.fa-lg 
        &nbsp;
        Estimates & Invoices
    .card-body
      .float-right.text-muted
        = image_tag "screens/invoice.png", class: 'img-fluid'
      %h4 Status changes inform your 'in-work pipeline'
      %ul
        %li Estimates are sent to customers in real-time
        %li Upon confirmation a text message is sent to the owner
        %li Once ready to work, the invoice's status is changed to 'Work'
        %li
          Once in 'Invoice' status, a link is sent to the customer, where
          they can pay with Paypal or credit card
        %li 
          %em Always know how far you are from getting paid
      
      .gallery
        - site(:features)[:invoice].each do |feature|
          = site_partial('thumb', locals: {path: 'features/invoice', feature: feature})
          
  %hr
  .card
    .card-header
      .float-right.text-muted 
        %b Programmable 
        phone number
      .fa.fa-phone.fa-lg 
        &nbsp;
        Incoming calls
    .card-body
      .float-right
        = image_tag "features/calls/now.png", class: 'img-fluid'
      %h4
        Ring any number(s) you like
      %ul
        %li We provide every customer with a programmable phone number
        %li The phone number can be local, toll-free or both
        %li Everyone in the system can see who called
        %li Contacts can be called with a click of a button
        %li Never lose a contact
        %li Never miss a call
        %li Let us answer it!
      .gallery
        - site(:features)[:calls].each do |feature|
          = site_partial('thumb', locals: {path: 'features/calls', feature: feature})



          
:css
  .gallery{
    padding:12px;
  }
  .gallery img{
  height: 100px;
  }    


= javascript_include_tag 'gallery/init'