---
title: MBLZ Features | CRM, Estimates, Invoices | 210-585-4014
description: Quick actionable items for contacts, estimates, invoices, calls and comments in MBLZ's CRM.
keywords: contacts, estimates, invoices, calls, comments
---

= stylesheet_link_tag "gallery/blueimp.css", :media => "screen", :rel => "stylesheet", :type => "text/css"
= javascript_include_tag "gallery/blueimp.js"

#blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
  .slides
  %h3.title
  %a.prev &laquo;
  %a.next &raquo;
  %a.close x
  %a.play-pause
  %ol.indicator

%h1.page-header 
  Features 
  %small of our software




#gallery
  .panel.panel-default
    .panel-heading
      .pull-right.text-muted Action oriented
      .fa.fa-bullhorn.fa-lg
      The 'Now' page
    .panel-body
      .pull-right= image_tag 'screens/now.png', class: 'img-responsive'

      %h3.page-header
        The 'Now' page
        %small "what is happening now?"
      %ul
        %li
          The 'Now' page is the heart of our and provides quick, actionable links to the most recent items and events.
        %li.no-style
          
          %ul
            %li Contacts
            %li Invoices
            %li Calls
            %li Comments
            %li Forms
            %li Activities
              

     
      .gallery
        - site(:features)[:now].each do |feature|
          = site_partial('thumb', locals: {path: 'features/now', feature: feature})
      
      .clearfix
      %p
        %small (Click the images above to see the features in action)

         
      .alert.alert-success
        = click_to_call 
        works the same whether you are on a mobile device or your desktop (mostly).



  .panel.panel-default
    .panel-heading
      .pull-right.text-muted get paid fast
      .fa.fa-pencil.fa-lg
      Estimates &amp; Invoices
    .panel-body
      .pull-right.text-muted= image_tag 'screens/invoice.png', class: 'img-responsive'
      %h3.page-header
        Estimates &amp; Invoices
        %small status changes inform your 'in-work pipeline'
      %ul
        %li Estimates are sent to customers in real-time
        %li Upon confirmation a text message is sent to the owner
        %li Once ready to work, the invoice's status is changed to 'Work'
        %li Once in 'Invoice' status, a link is sent to the customer, where they can pay with Paypal or Credit Card
      %blockquote
        The status of your invoices inform you at every stage 
        what work needs to get done and 
        %b how far you are from getting paid.
      .gallery
        - site(:features)[:invoice].each do |feature|
          = site_partial('thumb', locals: {path: 'features/invoice', feature: feature})


  .panel.panel-default
    .panel-heading
      .pull-right.text-muted with your programmable number
      .fa.fa-phone.fa-lg
      Incoming calls
    .panel-body
      .pull-right= image_tag 'features/calls/now.png'
      %h3.page-header
        Incoming calls
        %small can ring any number(s) you would like
      %ul
        %li We provide every customer with a programmable phone number
        %li The phone number can be local, toll-free or both
        %li Everyone in the system can see who called
        %li Contacts can be called with a click of a button
        %li Never lose a contact
        %li Never miss a call
        %li Let us answer it!      
      .gallery
        - site(:features)[:calls].each do |feature|
          = site_partial('thumb', locals: {path: 'features/calls', feature: feature})

.row
  %blockquote
    Simplicity is the soul of efficiency.
    %footer 
      Austin Freeman, "The Eye of Osiris"
        
:css
  .gallery{
    padding:12px;
  }
  .gallery img{
  height: 100px;
  }    


= javascript_include_tag 'gallery/init'