- if carousel.present?
  - content_for :carousel, site_partial('carousel') 

%h1.page-header 
  Small, service-oriented, business owner?
  %small WELCOME


.row
  .col-lg-4.col-md-6
    %h3.page-header
      %i.fa.fa-gears.gray
      Service oriented
      %small are you?
    Our customers provide a highly skilled service out in the field. 
    They don't necessarily have office skills (or an office) and may not always be able to answer the phone.
    %p
      %br
      %br
      %br
      = link_to "We can help", "/content/mblz/managed-crm.html", class: 'btn btn-warning'

  .col-lg-4.col-md-6
    %h3.page-header 
      %i.fa.fa-group.gray
      Service contractors
      %small examples
    
    %ul
      %li Tree Trimmers
      %li Landscapers
      %li Handymen
      %li Electricians
      %li Plumbers
      %li.no-style
        %br
        = link_to "Testimonials", "/testimonials.html", class: 'btn btn-primary'

  .col-lg-4.col-md-6
    %h3.page-header 
      %i.fa.fa-location-arrow.gray
      Managing 
      %small field workers
    Field workers get contact details and routing information with a map for directions, a short descriptive note, and a link to the estimate or invoice. Completing jobs assigned are critical to balancing schedules. 
    Field workers are provided all the necessary tools to increases productivity.

    %p
      %br
      = link_to "Complete Jobs Fast", "/content/mblz/features.html", class: 'btn btn-success'
  

%h1.page-header 
  How can Mobilize! help you?
  %small mobilize your business




.row
  .col-lg-4.col-md-6
    %h3.page-header 
      %i.fa.fa-heart(style='color:firebrick')
      Who
      %small we are
    We are a small company in San Antonio with extensive experience in 
    %b information systems 
    and 
    %b customer service. 
    We understand that customer relationships are essential business - for us and for you.  

    %p
      %br=link_to "Ask about a free demo", "/contact.html", class: 'btn btn-primary'

  .col-lg-4.col-md-6
    %h3.page-header 
      %i.fa.fa-magic(style='color:#336699')
      What
      %small we do
    We help you build customer relationships.
    We provide a 
    %b free, 
    programmable number that hooks up to the back end of your customer database and can 
    answer the phone for you.
    %p
      %br
      = site_link_to "Never miss a call", "managed-crm", class: 'btn btn-primary'

  .col-lg-4.col-md-6
    %h3.page-header 
      %i.fa.fa-rocket(style='color:teal')
      Why
      %small we can help you
    %ul
      %li Improve customer relationships
      %li Automate and simplify business processes
      %li Increase efficiency
      %li 
        Make more
        %i.fa.fa-money.fa-2x(style="color:teal")
    %p= link_to "Get Paid Fast", "/content/mblz/managed-crm.html", class: 'btn btn-primary'



