---
title: Mobilize your business
description: Take your office with you
keywords: no office, managed crm
---



-# - if carousel.present?
-#   - content_for :carousel, site_partial('carousel')

%h1.display-3
  Mobilize
  %small.text-muted your service-oriented business

%p.lead
  Are you an owner of a small, service oriented business? Are you out in the field working and often unable to answer the phone? 

.row

  .col-lg-4.col-md-6
    %h3
      %i.fa.fa-group.gray
      Service 
      %small.text-muted contractors
    
    %ul
      %li Tree Trimmers
      %li Landscapers
      %li Handymen
      %li Electricians
      %li Plumbers
      %li more...
      /%li.no-style
    = link_to "/testimonials.html", class: 'btn btn-primary btn-block' do
      %i.fa.fa-heart.btn-icon(style="color:firebrick;")
      Testimonials

  .col-lg-4.col-md-6
    %h3
      %i.fa.fa-car.gray
      Out in the field
      %small.text-muted working
      
    %p Our customers provide a highly skilled service out in the field and may not always be able to answer the phone.
    

    = link_to "/content/mblz/managed-crm.html", class: 'btn btn-warning btn-block' do
      %i.fa.fa-info-circle.btn-icon
      We can help

  .col-lg-4.col-md-6
    %h3 
      %i.fa.fa-location-arrow.gray
      Managing 
      %small.text-muted field workers
    %b Completing jobs quickly and efficiently is critical. 
    Field workers receive contact details, a link to Google maps, and a link to the estimate.
    %b Mobilize 
    tools provide accountability while increasing productivity.

    %p
      %br
      = link_to "/content/mblz/features.html", class: 'btn btn-success btn-block' do
        %i.fa.fa-compass.btn-icon
        Complete Jobs Fast




%h3.display-4
  We help you 
  %small.text-muted optimize your business

%hr

.row
  .col-lg-4.col-md-6
    %h3
      %i.fa.fa-search.gray
      Who
      %small.text-muted we are
    We are a small company in San Antonio with extensive experience in 
    %b information systems 
    and 
    %b customer service. 
    We understand that customer relationships are essential business - for us and for you.  

    %p
      %br=link_to "Ask about a free demo", "/contact.html", class: 'btn btn-primary btn-block'

  .col-lg-4.col-md-6
    %h3
      %i.fa.fa-rocket.gray
      What
      %small.text-muted we do
    We help you build customer relationships.
    We provide a 
    %b free, 
    programmable number that hooks up to the back end of your customer database and can 
    answer the phone for you.
    %p
      %br
      = site_link_to "Never miss a call", "managed-crm", class: 'btn btn-primary btn-block'

  .col-lg-4.col-md-6
    %h3
      %i.fa.fa-money(style='color:teal')
      Why
      %small.text-muted we can help you
    %ul
      %li Improve customer relationships
      %li Automate and simplify business processes
      %li Increase efficiency
      %li 
        %b Make more money
        
    %p= link_to "Get Paid Fast", "/content/mblz/managed-crm.html", class: 'btn btn-primary btn-block'
