.panel.panel-default
  .panel-heading= rv.title
  .panel-body
    - dir = parameterize("#{rv.manu} #{rv.model} #{rv.year}")
    .row
      .col-lg-6
        = image_tag("rvs/#{dir}/image.jpg", class: 'img-responsive')
      .col-lg-6
        %p
          %b Manufacturer
          %small= rv.manu
        %p
          %b Model
          %small= rv.model  
        %p
          %b Year
          %small= rv.year     
        %p
          %b Miles
          %small= rv.miles           
        %p
          %b Description
          = rv.description
        %b Features
        %ul
          - rv.features.each do |feature|
            %li= feature
      
