---
title: Lamprobe Services | Treat Skin Irregularities
description: Natural Skin Care utilizes Lamprobe as an effective way of treating and clearing unwanted skin flaws. Call Norma, your professional skin care consultant.
keywords: Lamprobe San Antonio, skin tags, skin flaws, acne, pimples, clogged pores, fibromas, spider naevi, telangiectasia.
---

%h1
  LamProbe Services
  %small.text-muted= site.title

%h2 Non-Invasive Effective Skin Irregularity Treatments
%p 
  The latest addition to my skin treatment services here in San Antonio, Texas 
  is LamProbe treatments, a non-invasive effective way to treat skin 
  irregularities. The LamProbe is used to clear irregularities or skin flaws 
  visible to the skin care consultant. The LamProbe treatments is a perfect skin
  solution treatment for:

%h3 At Natural Skin Care we offer:
%ul
  %li Acne Pimples
  %li Broken Capillaries
  %li Cherry Angiomas
  %li Cholesterol Deposits
  %li Clogged Pores
  %li Cysts
  %li Fibromas
  %li Milia
  %li Spider Naevi
  %li Skin Tags
  %li Telangiectasia

%h4 Notes:
%p 
  Free consultations before starting any treatment series. 

%h2 Benefits of LamProbe Treatments
%p 
  Depending on the type of treatment and size of the area to be treated, results
  may be seen immediately. The client has minimum discomfort since the LamProbe
  is a non-invasive treatment requiring no anesthesia. This is an effective 
  treatment for a variety of common skin conditions on women and men.

%h2 Post Cosmetic Treatments
%p 
  Depending on clients skin sensitivity there can be "minor discomfort". The 
  sensation is similar to a "pinch of the skin". There could be a slight 
  scabbing with some types of treatments.
%h3 Fibromas
= image_tag "services/fibromas.jpg", title: "Fibromas"
%h3 Cherry Angioma
= image_tag "services/cherry-angioma.jpg", title: "Cherry Angioma"
%h3 Clogged Pores
= image_tag "services/clogged-pores.jpg", title: "Clogges Pores"
%h3 Skin Tags
= image_tag "services/skin-tags.jpg", title: "Skin Tags"
%h3 Telanglectasia
= image_tag "services/telanglectasia.jpg", title: "Telanglectasia"

