.col-md-4.well
  %ul
    %li
      = link_to " Redken Hair Color", "/content/fusion/redken-hair-color.html"
    %li
      = link_to "Hair Design", "/content/fusion/hair.html"
    %li
      = link_to " Great Lengths Hair Extensions", "/content/fusion/hair-extensions.html"
    %li
      = link_to "Skin Services", "/content/fusion/skin.html"
    %li
      = link_to "Special Events Services", "/content/fusion/bridal.html"
   
  