/= site(:products).find_all{|p| p[:product_category_id] == 1 && p.location == 1}
- cats = site('categories')
%table.table#legend(style="text-align:center")
  %tr
    - trees = cats.find{|c| c.name == 'Trees'} 
    %td(colspan=4 style="background-color: #{trees.html_color}") 

      %h3 Trees
      = location_matrix(trees, nil)


  %tr
    - ground = cats.find{|c| c.name == 'Ground Cover'} 
    %td(style="background-color: #{ground.html_color}")
      
      %h3
        Ground Cover
      = location_matrix(ground, nil)   
    
    - flower = cats.find{|c| c.name == 'Flowers'} 
    %td(style="background-color: #{flower.html_color}")
      %h3
        Flowers
      = location_matrix(flower, nil)   

    - cactus = cats.find{|c| c.name == 'Cactus'} 
    %td(style="background-color: #{cactus.html_color}")
      %h3
        Cactus
      = location_matrix(cactus, nil)   

    - palms = cats.find{|c| c.name == 'Palms'} 
    %td(style="background-color: #{palms.html_color}")
      %h3
        Palms
      = location_matrix(palms, nil)       
  %tr
    - shrubs = cats.find{|c| c.name == 'Shrubs'} 
    %td(colspan=4 style="background-color: #{shrubs.html_color}") 
      %h3 Shrubs
      = location_matrix(shrubs, nil) 



.container-fluid#splash
  .container
    .row.p-4
      .col-sm-4
        .card
          %img.card-img-top{:alt => "ET pic", :src => "images/sunshine/team/et.jpg"}/
          .card-body
            %h4 ET
            %h5 Customer Service
            %p
              Extraordinary customer service person. Ask anyone.
            %a{:href => "#"}
              %i.fab.fa-facebook-f
            %a{:href => "#"}
              %i.fab.fa-twitter
            %a{:href => "#"}
              %i.fab.fa-instagram
            %a{:href => "#"}
              %i.fab.fa-linkedin
      .col-sm-4
        .card
          %img.card-img-top{:alt => "", :src => "images/team/team2.jpg"}/
          .card-body
            %h4 Jessica Miller
            %h5 President
            %p
              John has over 10 years of experience in a technology role.
            %a{:href => "#"}
              %i.fab.fa-facebook-f
            %a{:href => "#"}
              %i.fab.fa-twitter
            %a{:href => "#"}
              %i.fab.fa-instagram
            %a{:href => "#"}
              %i.fab.fa-linkedin
      .col-sm-4
        .card
          %img.card-img-top{:alt => "", :src => "images/team/team3.jpg"}/
          .card-body
            %h4 Charles Davis
            %h5 Vice President
            %p
              Charles went to business school and worked his way up the
              ladder.
            %a{:href => "#"}
              %i.fab.fa-facebook-f
            %a{:href => "#"}
              %i.fab.fa-twitter
            %a{:href => "#"}
              %i.fab.fa-instagram
            %a{:href => "#"}
              %i.fab.fa-linkedin


