---
title: Products
description: Nursery products
keywords: trees, flowers, ground cover, cactus, palms, shrubs
---

%h1 
  Products
  %small.text-muted current inventory

- cats = ["Palms", "Trees", "Cactus", "Flowers", "Ground Cover", "Shrubs"]

.container-fluid
  .row.mb-2    
    .col-12
      .btn-group.btn-group-sm.btn-block{"aria-label" => "Categories", :role => "group"}
        %button.btn.btn-secondary.active{:type => "button", "data-category" => 0} All
        - cats.each_with_index do |cat, idx|        
          %button.btn.btn-secondary{:type => "button", 'data-category': idx+1}= cat

.container-fluid
  - site(:products).each do |product|
    - next if product.image_thumb_path.include?('missing')
    .row.product.mb-4{'data-category' => product.product_category_id}
      /(style="margin-left:-24px")
      .col-lg-6
        - img_path = "//paradise.mblz.com/#{product.image_thumb_path.sub('thumb','original')}"
        %img{"data-src": img_path, class: 'img-fluid rounded lozad product-img', title: product.name, alt: product.name, 'data-toggle': :tooltip}
      .col-lg-6
        %h3.product-title
          = product.name
        %p
          %i.note= product.note
        .row
          .col-4
            Category: 
          .col-8
            %b.primary= cats[product.product_category_id - 1]
        - unless product.tolerance.blank?
          .row
            .col-4 Tolerance:
            .col-8 
              %b.primary=product.tolerance
        .row
          .col-4 Water: 
          .col-8 
            %b.primary= paradise_water(product.water)
        .row
          .col-4 Sun: 
          .col-8
            %b.primary= paradise_sun(product.sun) 
            - if product.sun == 3
              %i.fa.fa-sun.sun


-# Lazy load images                  
%script(src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js")

:javascript
  const observer = lozad();
  observer.observe();  
  window.addEventListener('DOMContentLoaded', function(){
    function deact(){
      $('.btn-group button').each(function(){
        $(this).removeClass('active')
      })
    }
    $('.btn-group button').on('click', function(e){
      deact()
      var btn = $(e.target)
          btn.addClass('active')
      let cat = btn.data('category')
      $('.row.product').each(function(){
        var product    =  $(this)
        var productCat = product.data('category')
        if(productCat == cat || cat === 0){
          product.show()
        } else {
          product.hide()
        }
      })
    })
  })
:css 
  img.product-img{
    width: 100%;
    -moz-box-shadow: 0 0 10px #999;
    -webkit-box-shadow: 0 0 10px #999;
    box-shadow: 0 0 10px #999;
  }


  b.primary, i.note{
    color: #cc3a07;
    font-weight: normal;
  }
  h3.product-title{
    border-bottom: 1px solid #ddd;
  }
  i.sun{
    color: var(--yellow);
    font-size: 22px;
  }
