---
title: Products
description: Nursery products
keywords: trees, flowers, ground cover, cactus, palms, shrubs
---

%h1 
  Products
  %small.text-muted current inventory
- cats = ["Palms", "Trees", "Cactus", "Flowers", "Ground Cover", "Shrubs"]
.container-fluid
  .row.mb-2
    .btn-group.btn-group-sm.btn-block{"aria-label" => "Categories", :role => "group"}
      %button.btn.btn-secondary.active{:type => "button", "data-category" => 0} All
      - cats.each_with_index do |cat, idx|        
        %button.btn.btn-secondary{:type => "button", 'data-category': idx+1}= cat
.container-fluid
  - site(:products).each do |product|
    - next if product.image_thumb_path.include?('missing')
    .row.product.mb-2{'data-category' => product.product_category_id}
      /(style="margin-left:-24px")
      .col-lg-6
        = link_to "//paradise.mblz.com/#{product.image_thumb_path.sub('thumb','original')}", target: "_blank" do
          %img{"data-src": "//paradise.mblz.com/#{product.image_thumb_path.sub('thumb','original')}", class: 'img-fluid rounded lozad', style: 'margin-left: -12px;width: 100%'}
      .col-lg-6
        %h3(style="margin-top:0")
          = product.name
        %p
          %i= product.note
        %br
        Category: 
        %b= cats[product.product_category_id - 1]
        %br
        - unless product.tolerance.blank?
          Tolerance:
          %b=product.tolerance
        %br/
        Water: 
        %b= paradise_water(product.water)
        %br/
        Sun: 
        %b= paradise_sun(product.sun)  

   
-# Lazy load images                  
%script(src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js")

:javascript
  const observer = lozad();
  observer.observe();  
  window.addEventListener('DOMContentLoaded', function(){
    function deact(){
      $('.btn-group button').each(function(){
        $(this).removeClass('active')
      })
    }
    $('.btn-group button').on('click', function(e){
      deact()
      var btn = $(e.target)
          btn.addClass('active')
      let cat = btn.data('category')
      $('.row.product').each(function(){
        var product    =  $(this)
        var productCat = product.data('category')
        if(productCat == cat || cat === 0){
          product.show()
        } else {
          product.hide()
        }
      })
    })
  })
:css 
  .row.product{
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }