---
skip_side_menu: true
---
.container
  .row
    .col-lg-6
      %h1 Address
      %p= site_partial 'address'
      %h2 Email
      %p= email_form
      %h2 
        Phone
      %p= link_to site.phone, "tel:#{site.phone}"

    .col-lg-6
      - if site.geo_embed_address
        %iframe(width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?#{site.geo_embed_address}")