%link{:href => "//23.253.214.114/gallery/css/blueimp-gallery.min.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
%script{:src => "//23.253.214.114/gallery/js/blueimp-gallery.min.js", :type => "text/javascript"}

.container
  %h1.page-header 
    Gallery
    %small Portfolio
#blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
  .slides
  %h3.title
  %a.prev ‹
  %a.next ›
  / %a.close ×
  %a.play-pause
  %ol.indicator

#links
  .container
    .row
      - site(:gallery).each do |gallery|
        - name  = gallery.keys.first
        - title = gallery.title
        - imgs = gallery.images
        .col-lg-6.gallery
          .panel.panel-default
            .panel-heading= title
            .panel-body
              - imgs.each do |img|
                %a{href: site_img_path("gallery/#{name}/#{img.src}"), title: img.title}= site_img "gallery/#{name}/thumb/#{img.src}", class: 'img-responsive',  "data-toggle" => :tooltip, title: img.title

= javascript_include_tag 'gallery'
