---
title: Site Image gallery
keywords: images, portfolio, gallery
---
= stylesheet_link_tag "gallery/blueimp.css", :media => "screen", :rel => "stylesheet", :type => "text/css"
= javascript_include_tag "gallery/blueimp.js"


.container
  %h1 
    Gallery
    %small.text-muted Portfolio

#blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
  .slides
  %h3.title
  %a.prev &laquo;
  %a.next &raquo;
  %a.close x
  %a.play-pause
  %ol.indicator

#gallery
  .container
    - galleries.each do |gallery|
      .row
        .gallery.col-sm-12
          %h2= titleize gallery.name        
          - gallery.images.each do |image|
            - url       = "/assets/img/gallery/#{gallery.name}/#{image.name}"
            - thumb_url = "/assets/img/gallery/#{gallery.name}/thumb/#{image.name}"
            - title     =  titleize image.title
            = link_to url, title: title do
              = image_tag thumb_url, 'data-toggle' => :tooltip, title: title, class: 'rounded gray_image' #, class: 'thumbnail'
      %hr
= javascript_include_tag 'gallery/init'



