= stylesheet_link_tag "blueimp-gallery.min.css", :media => "screen", :rel => "stylesheet", :type => "text/css"
= javascript_include_tag "blueimp-gallery.min.js"


.container
  %h1.page-header 
    Gallery
    %small Portfolio
#blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
  .slides
  %h3.title
  %a.prev ‹
  %a.next ›
  %a.close ×
  %a.play-pause
  %ol.indicator

#gallery
  .container
    .row
      - galleries.each do |gallery|
        .panel.panel-default.gallery
          .panel-heading= gallery.title
          .panel-body
            - gallery.images.each do |image|
              - url       = "/assets/img/gallery/#{gallery.name}/#{image.name}"
              - thumb_url = "gallery/#{gallery.name}/thumb/#{image.name}"
              = link_to url, title: image.title do
                = image_tag thumb_url, title: image.title, 'data-toggle' => :tooltip, title: image.title, class: 'img-rounded' #, class: 'thumbnail'

= javascript_include_tag 'gallery'
