---
title: Testimonials
description: What our customers say about our services 
keywords: Testimonials, customers, referrals
---

%h1.page-header 
  %span.fa.fa-heart(style="color:firebrick")
  Testimonials
  %small what our customers say about us


- if tests = site(:testimonials)
  - if tests.first.is_a?(Hash)
    -  tests.each do |test|
      %blockquote
        %p
          %b
            = test.name
            - if test.url.present?
              .pull-right
                %p(style="margin-top:-6px")= link_to test.url, "http://#{test.url}", class: 'btn btn-success btn-block', target: '_blank'      
        
        = test.says
        %footer
          = test.owner
- else
  ERROR add a testimonial yml to data. 
