---
title: Testimonials
description: What our customers say about our services 
keywords: Testimonials, customers, referrals
---

%h1
  %span.fa.fa-heart(style="color:firebrick")
  Testimonials
  %small.text-muted what our customers say about us


- if tests = site(:testimonials)
  - if tests.first.is_a?(Hash)
    -  tests.each_with_index do |test, idx|
      %h3.display-4= test.name
      %blockquote.blockquote
        - if test.url.present?
          .float-right
            %p(style="margin-top:-6px")= link_to test.url, "http://#{test.url}", class: 'btn btn-success btn-block', target: '_blank'      
        = test.says
        %footer.footer-blockquote
          %cite
            %b= test.owner
      - if idx < (tests.size - 1)
        %hr
- else
  ERROR add a testimonial yml to data. 
