---
title: Testimonials
description: What our customers say
keywords: Testimonials, customers, referrals
---

%h1.page-header 
  %span.fa.fa-heart(style="color:firebrick")
  Testimonials
  %small what our customers say about us


- if tests = site(:testimonials)
  - if tests.first.is_a?(Hash)
    -  tests.each do |test|
      
      %h2.page-header
        = test.name
        .pull-right= link_to test.url, "http://#{test.url}", class: 'btn btn-success btn-block', target: '_blank'
      %blockquote
        = test.says
        %footer
          = test.owner
- else
  ERROR add a testimonial yml to data. 

